@font-face {
    font-family: 'Summer Lovers Dingbat';
    src: url('SummerLoversDingbat.woff2') format('woff2'),
        url('SummerLoversDingbat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pink Chicken';
    src: url('PinkChicken-Regular.woff2') format('woff2'),
        url('PinkChicken-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

